<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddf.boot.quickstart.core.mapper.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.ddf.group.purchase.core.model.entity.UserInfo">
    <!--@mbg.generated-->
    <!--@Table user_info-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="community_id" jdbcType="INTEGER" property="communityId" />
    <result column="building_no" jdbcType="VARCHAR" property="buildingNo" />
    <result column="room_no" jdbcType="VARCHAR" property="roomNo" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="wx_id" jdbcType="VARCHAR" property="wxId" />
    <result column="wx_business_card_qrcode_url" jdbcType="VARCHAR" property="wxBusinessCardQrcodeUrl" />
    <result column="wx_collection_money_qrcode_url" jdbcType="VARCHAR" property="wxCollectionMoneyQrcodeUrl" />
    <result column="temp_email" jdbcType="VARCHAR" property="tempEmail" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="email_verified" jdbcType="BIT" property="emailVerified" />
    <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
    <result column="avatar_thumb_url" jdbcType="VARCHAR" property="avatarThumbUrl" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="ctime" jdbcType="BIGINT" property="ctime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, community_id, building_no, room_no, nickname, mobile, wx_id, wx_business_card_qrcode_url, 
    wx_collection_money_qrcode_url, temp_email, email, email_verified, avatar_url, avatar_thumb_url, 
    `password`, ctime
  </sql>
</mapper>
