<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddf.boot.quickstart.core.infra.mapper.UserHeartBeatLogMapper">
    <resultMap id="BaseResultMap" type="com.ddf.boot.quickstart.core.infra.model.entity.UserHeartBeatLog">
        <!--@mbg.generated-->
        <!--@Table user_heart_beat_log-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="uid" jdbcType="BIGINT" property="uid"/>
        <result column="ctime" jdbcType="BIGINT" property="ctime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `uid`, ctime
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from user_heart_beat_log
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete from user_heart_beat_log
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.ddf.boot.quickstart.core.infra.model.entity.UserHeartBeatLog">
        <!--@mbg.generated-->
        insert into user_heart_beat_log (id, `uid`, ctime)
        values (#{id,jdbcType=BIGINT}, #{uid,jdbcType=BIGINT}, #{ctime,jdbcType=BIGINT})
    </insert>
    <insert id="insertSelective" parameterType="com.ddf.boot.quickstart.core.infra.model.entity.UserHeartBeatLog">
        <!--@mbg.generated-->
        insert into user_heart_beat_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="uid != null">
                `uid`,
            </if>
            <if test="ctime != null">
                ctime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=BIGINT},
            </if>
            <if test="ctime != null">
                #{ctime,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.ddf.boot.quickstart.core.infra.model.entity.UserHeartBeatLog">
        <!--@mbg.generated-->
        update user_heart_beat_log
        <set>
            <if test="uid != null">
                `uid` = #{uid,jdbcType=BIGINT},
            </if>
            <if test="ctime != null">
                ctime = #{ctime,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ddf.boot.quickstart.core.infra.model.entity.UserHeartBeatLog">
        <!--@mbg.generated-->
        update user_heart_beat_log
        set `uid` = #{uid,jdbcType=BIGINT},
        ctime = #{ctime,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>
