<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddf.boot.quickstart.core.infra.mapper.GlobalMetadataConfigMapper">
    <select id="selectByCode" resultMap="BaseResultMap">
        select *
        from global_metadata_config
        where config_code = #{code}
        limit 1
    </select>
</mapper>
