<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddf.boot.quickstart.core.mapper.UserInfoMapper">
    <select id="randomUser" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user_info as t1
        WHERE t1.id >= (RAND() * (SELECT MAX(id) FROM user_info))
        LIMIT #{number};
    </select>

    <select id="listByIds" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user_info as t1
        WHERE t1.id IN
        <foreach collection="userIds" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="selectByMobile" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user_info as t1
        WHERE t1.mobile = #{mobile}
        limit 1
    </select>

    <select id="selectByNickname" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user_info as t1
        WHERE t1.nickname = #{nickname}
        limit 1
    </select>

    <select id="countByNickname" resultType="int">
        SELECT COUNT(*)
        FROM user_info as t1
        WHERE t1.nickname = #{nickname}
    </select>


    <select id="selectByEmail" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user_info as t1
        WHERE t1.email = #{email}
        limit 1
    </select>

    <select id="countByMobile" resultType="int">
        SELECT COUNT(*)
        FROM user_info as t1
        WHERE t1.mobile = #{mobile}
    </select>

    <update id="completeUserInfo">
        UPDATE user_info
        SET
        <if test="nickname != null">
            nickname = #{nickname},
        </if>
        <if test="avatarThumbUrl != null">
            avatar_thumb_url = #{avatarThumbUrl},
        </if>
        <if test="email != null">
            email = #{email},
        </if>
        <if test="avatarUrl != null">
            avatar_url = #{avatarUrl},
        </if>
        WHERE id = #{id}
    </update>

    <update id="updateVerifyEmail">
        UPDATE user_info
        SET email = #{email}
        where id = #{id}
          and temp_email = #{email}
    </update>
</mapper>
