<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddf.boot.quick.mapper.SysDictMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ddf.boot.quick.model.entity.SysDict">
        <result column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="modify_by" property="modifyBy" />
        <result column="modify_time" property="modifyTime" />
        <result column="is_del" property="isDel" />
        <result column="version" property="version" />
        <result column="dict_code" property="dictCode" />
        <result column="dict_name" property="dictName" />
        <result column="dict_item_code" property="dictItemCode" />
        <result column="dict_item_name" property="dictItemName" />
        <result column="sort" property="sort" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        create_time,
        modify_by,
        modify_time,
        is_del,
        version,
        dict_code, dict_name, dict_item_code, dict_item_name, sort
    </sql>
</mapper>