<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddf.boot.quick.mapper.SysMenuMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ddf.boot.quick.model.entity.SysMenu">
        <result column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="modify_by" property="modifyBy" />
        <result column="modify_time" property="modifyTime" />
        <result column="is_del" property="isDel" />
        <result column="version" property="version" />
        <result column="parent_id" property="parentId" />
        <result column="menu_name" property="menuName" />
        <result column="sort" property="sort" />
        <result column="route_url" property="routeUrl" />
        <result column="menu_type" property="menuType" />
        <result column="icon" property="icon" />
        <result column="permission" property="permission" />
        <result column="is_active" property="isActive" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        create_time,
        modify_by,
        modify_time,
        is_del,
        version,
        parent_id, menu_name, sort, route_url, menu_type, icon, permission, is_active
    </sql>
</mapper>