<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddf.boot.quick.mapper.SysUserRoleMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ddf.boot.quick.model.entity.SysUserRole">
        <result column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="modify_by" property="modifyBy" />
        <result column="modify_time" property="modifyTime" />
        <result column="is_del" property="isDel" />
        <result column="version" property="version" />
        <result column="user_id" property="userId" />
        <result column="role_id" property="roleId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        create_time,
        modify_by,
        modify_time,
        is_del,
        version,
        user_id, role_id
    </sql>

    <insert id="batchRelativeUser" parameterType="com.ddf.boot.quick.model.request.BatchInsertSysUserRoleRequest">
        insert into sys_user_role(user_id, role_id)
            values
        <foreach item="item" index="index" collection="request.roleIdList" separator=",">
            (
                #{request.userId}, #{item}
            )
        </foreach>
    </insert>
</mapper>
