<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddf.boot.quick.mapper.SysUserRoleMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ddf.boot.quick.model.entity.SysUserRole">
        <result column="id" property="id"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_by" property="modifyBy"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="is_del" property="isDel"/>
        <result column="version" property="version"/>
        <result column="user_id" property="userId"/>
        <result column="role_id" property="roleId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        create_time,
        modify_by,
        modify_time,
        is_del,
        version,
        user_id, role_id
    </sql>

    <insert id="batchRelativeUser" parameterType="com.ddf.boot.quick.model.request.SysUserRoleBatchInsertRequest">
        insert into sys_user_role(user_id, role_id) values
        <foreach item="item" index="index" collection="request.roleIdList" separator=",">
            ( #{request.userId}, #{item} )
        </foreach>
    </insert>


    <select id="getUserActiveRoleList" resultType="com.ddf.boot.quick.model.dto.SysUserRoleDTO">
        select user_id   as userId,
               role_Id   as roleId,
               role_name as roleName,
               is_admin  as isAdmin,
               sort,
               is_active as isActive
        from sys_user_role ur
                 inner join sys_role sr on ur.role_id = sr.id and sr.is_active
                = ${@com.ddf.boot.common.core.enumration.CommonLogic@TRUE.getLogic()}
                and sr.is_del = 0
        where ur.user_id = #{userId}
          and ur.is_del = 0
    </select>
</mapper>
